<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to TravelBuddy</title>
</head>
<body style="margin-top: 150px; display: flex; justify-content: center; align-content: center; height: 100%; background-image: url(./Cloud.jpg); background-size: fit; background-repeat: no-repeat;">
  <div style="position: absolute; font-family: Arial; background-color: #6F85DF; height: 350px; min-width: 400px; max-width: 400px; border-radius: 10px;">
    <h1 style="color: white; text-align: center;">Welcome</h1>
    <div style="margin:auto; padding: 8px; width: 93%; border-radius: 10px; background-color: #f9f9f9;">
      <p>Hello, <b>{name}</b></p>
      <p>Welcome to the <b>TravelBuddy</b> family! 🎉 We’re thrilled to have you here and excited to help you discover incredible destinations, exclusive deals, and unforgettable experiences. Your next adventure starts now!</p>
      <p>Best regards,<br>TravelBuddy</p>
    </div>
      <p style="font-size: small; text-align: center; color: white;">This is an automated message, please do not reply to this email.</p>
  </div>
</body>
</html>
